// Mixins Here

.custom-button(@width: 35%, @bg-color: dodgerblue, @font-color: peachpuff) {
  width: @width;
  background-color: @bg-color;
  color: @font-color;
  font-weight: bold;
  border-radius: 7px;
  padding: 7px 0;
  font-size: 1.7rem;
}

.mobile-align() {
  width: 100%;
  padding: 5px;
}

.subheader() {
  font-size: 2.7rem;
  font-weight: bold;
}

.center() {
  display: flex;
  justify-content: center;
}