// Navigation code here
nav {
  display: flex;
  justify-content: space-around;
  width: 42%;
  margin-bottom: 10px;

  @media @phone {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: black;

    @media @phone {

    }
  }
}